//Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    overflow-x: hidden;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
body{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar{
    display: none;
}
.imageWrapper{
    &__topRight{
        position: absolute;
        right: -30px;
        top: -15px;
        z-index: 1000;
    }
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    overflow-y: hidden !important;
    background-color: white;
        &__menuClose{
            position: fixed;
            top: 2vh;
            right: 6vw;
        }
        &__quickLinks{
            position: absolute;
            bottom: 7vh;
            left: 6vw;
        }
        &__navLinks{
            position: absolute;
            bottom: 5vh;
            right: 6vw;
            & li{
                list-style-type: none;
                text-align: right;
                margin-bottom: 2vh;
                font-size: 24px;
                color: #707070;
            }
        }
}
a{
    text-decoration: none;
    color: inherit;
}
.menuBtn{
    width: 100%;
    display: block;
    z-index: 999;
        &__menuIcon{
            position: fixed;
            top: 2vh;
            right: 6vw;
        }
}
.logo{
    width: 100%;
}
.squaredButton{
    cursor: pointer;
}
.roundButton{
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    border: black solid 1px;
    color: #707070;
}
.rFModal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    backdrop-filter: brightness(75%) blur(5px);
    &__form{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        width: 80vw;
        height: 600px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        display: block;
        &__close-button{
            position: absolute;
            top: 1.5vh;
            right: 3vw;
        }
        &__content{
            margin-top: 50px;
            display: block;
            overflow: hidden;
            & form{
                display: block;
                width: 70vw;
                height: 450px;
                margin: 0 auto;
                overflow: hidden;
                text-align: center;
            }
            & img{
                position: absolute;
                bottom: -25%;
                left: -30%;
                width: 340px;
                transform: rotateZ(-45deg);
                opacity: 0.3;
            }
        }
    }
}
.App{
    min-width: 100vw;
    min-height: 100vh;
    padding: 2vh 5vw;
        &__home{
        display: flex;
        flex-direction: column;
        align-items: center;
            &__cloudImgWrapper{
                &__asset1{
                    position: absolute;
                    top: 5vh;
                    right: 15vw;
                    opacity: 0.5;
                }
                &__asset2{
                    position: absolute;
                    top: 20vh;
                    left: 0;
                    opacity: 0.3;
                }
            }
            &__leftSideGuide{
                width: 80vw;
                height: 35vh;
                display: block;
                margin-top: 5vh;
                position: relative;
            }
        }
        &__support{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__buttonGroup{
                display: flex;
                flex-direction: row;
            }
        }
        &__values{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__about{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__legal{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__buttonGroup{
                display: flex;
                flex-direction: row;
            }
        }
        &__remoteFix{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__services{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__standloneHero{
                margin-top: 1vh;
                margin-bottom: 3vh;
                overflow: hidden;
                width: 80vw;
                display: grid;
                grid-template-rows: repeat(10,1fr);
                grid-template-columns: 3fr 4fr 2.5fr;
                position: relative;
                height: 15vh;
                background-color: white;
                border-radius: 15px;
                box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
                &__badge{

                }
                &__image{
                    display: flex;
                    align-items: center;
                    grid-row: 3/9;
                    grid-column: 1/2;
                    justify-content: center;
                }
                &__service-number{
                    display: flex;
                    align-items: center;
                    grid-row: 2/5;
                    grid-column: 2/3;
                    justify-content: flex-start;
                    overflow: hidden;
                    &__content{
                        font-size: 32px;
                        color: #707070;
                        line-height: 42px;
                        font-weight: 500;
                        text-align: left;
                        overflow: hidden;
                    }
                }
                &__service-title{
                    display: flex;
                    align-items: center;
                    grid-row: 5/9;
                    grid-column: 2/3;
                    justify-content: center;
                    &__content{
                        font-size: 14px;
                        color: #707070;
                        line-height: 22px;
                        font-weight: 500;
                    }
                }
                &__service-price-declaration{
                    display: flex;
                    align-items: center;
                    grid-row: 2/4;
                    grid-column: 3/4;
                    justify-content: center;
                    &__content{
                        font-size: 8px;
                        color: #707070;
                        line-height: 18px;
                        font-weight: 700;
                    }
                }
                &__service-details{
                    display: flex;
                    align-items: center;
                    grid-row: 8/11;
                    grid-column: 3/4;
                    justify-content: center;
                    &__content{
                        font-size: 10px;
                        color: #47B6DF;
                        line-height: 18px;
                        font-weight: 700;
                    }
                }
                &__service-price{
                    display: flex;
                    align-items: center;
                    grid-row: 3/9;
                    grid-column: 3/4;
                    justify-content: center;
                    overflow: hidden;
                    &__circle{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        &__currency{
                            font-size: 10px;
                            color: #70707077;
                            line-height: 18px;
                            font-weight: 700;
                            overflow: hidden;
                        }
                        &__price{
                            font-size: 18px;
                            color: #707070;
                            line-height: 18px;
                            font-weight: 600;
                            margin-bottom: 20%;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
}